/*reset all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
img{
    max-width: 100%;
}
/*clearfix*/
*:after {
    content: "";
    clear: both;
    display: table;
}